.ProductsPage-container,
.RegistryPage-container {
	display: grid;
	grid-template-columns: 1fr min-content;
	gap: 1rem;
	padding: 0 1rem;
}
.ProductsTable,
.RegistryTable {
	overflow-y: scroll;
}
.RegistryTable-row {
	display: grid;
	grid-template-columns: 1fr 6fr 5fr 9fr 4fr 4fr;
	justify-items: center;
}

.ProductsTable-row {
	display: grid;
	grid-template-columns: 2fr 4fr 2fr 2fr 1fr;
}

.ProductsTable-row td:nth-child(1) {
	padding-left: 1rem;
}

.SalesTable-row {
	display: grid;
	grid-template-columns: 1fr 4fr 4fr 2fr;
	justify-items: center;
}

.RegistryTable-row th:nth-child(1),
.RegistryTable-row td:nth-child(1) {
	justify-self: center;
}

th {
	align-content: center;
}

.SalesFilter {
	margin: 0.5rem 1rem;
	display: flex;
	justify-content: center;
}

.form-container {
	width: 300px;
	margin: 50px auto;
}

.form-container label {
	margin-bottom: 0.5rem;
}
